.Container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0.5rem;
    gap: 0.3rem;
    background-color: white;
    padding: 0.4rem;   
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(66, 153, 225, 0.3);
}

@media (max-width: 480px) {
    .Container {
        grid-template-columns: repeat(3, 1fr);
    }
}

